* {
    margin: 0%;
    padding: 0%;
}


nav {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 20em;
    padding: 2px;
}

.nav-item {
    list-style: none;
}


.nav-list ul a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 22px;
    padding: 7px;
    border-radius: 50px;
}

.logo img  {
    height: 37px;
    width: 8em;
}


/* hover */


.nav-list ul a:hover {
    text-decoration: underline;
    background-color: rgb(61, 6, 6);
    transition: 2s;
}